body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-align: center;
}

.top-part {
    padding-bottom: 200px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/donation1.jpg);
    padding-top: 50px;
    font-size: 20px;
    line-height: normal;
}

.click-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: brown;
    border-radius: 5px;
    color: white;

}

.amount div {
    display: inline;
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px;
}

#stylist-div {
    border: 2px solid pink;
    color: darksalmon;
    background-color: antiquewhite;
}

.same-div {
    background-color: rgb(253, 251, 251);
    padding: 5px;
}

#taka {
    border: none;
}

hr {
    width: 50%;
}

.plan {
    display: flex;
    padding: 20px;

}

#food {
    border: 1px solid rgb(234, 242, 248);
    padding: 20px;
    margin: 20px;
    width: 33%;
    border-radius: 5px;
    background-color: rgb(234, 242, 248);

}

#shelter {
    border: 1px solid rgb(234, 242, 248);
    padding: 20px;
    margin: 20px;
    width: 33%;
    border-radius: 5px;
    background-color: rgb(250, 234, 236);
}

#education {
    border: 1px solid rgb(216, 204, 180);
    padding: 20px;
    margin: 20px;
    width: 33%;
    border-radius: 5px;
    background-color: rgb(216, 204, 180);
}

.bonus-part {
    display: flex;
}

.half-width {
    line-height: 25px;
    padding: 10px;
    width: 50%;
}

.half-width img {
    width: 100%;
}

#footer-part {
    background-color: black;

    color: brown;
    padding-top: 25px;
    padding-bottom: 20px;
    line-height: 30px;
}

#small {
    color: white;
}

form {
    background-color: rgb(250, 242, 243);
    width: 50%;
    margin-left: 290px;
    padding: 75px;
}

#input {
    padding: 10px;
    border: none;
    color: rgb(55, 56, 58);
}

#btn {
    border: none;
    padding: 10px;
    width: 100px;
    background-color: brown;
    border-radius: 5px;
    color: white;
}